@model PedidoVm

<div class="row pb-3 container" style="margin: 0 auto;">

</div>
<form method="post">
    <input asp-for="PedidoHeader.Id" hidden />
    <br />
    <div class="container my-4">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class="container row">
                    <div class="col-12 d-none d-md-block col-md-6">
                        <h3 class="mt-1"><i class="fas fa-shopping-cart"></i> &nbsp;Pedido #@Model.PedidoHeader.Id</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">Detalhes do pedido</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Nome</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Administrador) || User.IsInRole(SD.Role_Empregado))
                                    {
                                        <input asp-for="PedidoHeader.Nome" type="text" class="form-control" />
                                        <span asp-validation-for="PedidoHeader.Nome" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="PedidoHeader.Nome" readonly type="text" class="form-control readonly-field" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Número de Telefone</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Administrador) || User.IsInRole(SD.Role_Empregado))
                                    {
                                        <input asp-for="PedidoHeader.Telefone" type="text" class="form-control" />
                                        <span asp-validation-for="PedidoHeader.Telefone" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="PedidoHeader.Telefone" readonly type="text" class="form-control readonly-field" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Endereço</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Administrador) || User.IsInRole(SD.Role_Empregado))
                                    {
                                        <input asp-for="PedidoHeader.Endereco" type="text" class="form-control" />
                                        <span asp-validation-for="PedidoHeader.Endereco" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="PedidoHeader.Endereco" readonly type="text" class="form-control readonly-field" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Cidade</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Administrador) || User.IsInRole(SD.Role_Empregado))
                                    {
                                        <input asp-for="PedidoHeader.Cidade" type="text" class="form-control" />
                                        <span asp-validation-for="PedidoHeader.Cidade" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="PedidoHeader.Cidade" readonly type="text" class="form-control readonly-field" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Estado</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Administrador) || User.IsInRole(SD.Role_Empregado))
                                    {
                                        <input asp-for="PedidoHeader.Estado" type="text" class="form-control" />
                                        <span asp-validation-for="PedidoHeader.Estado" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="PedidoHeader.Estado" readonly type="text" class="form-control readonly-field" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">CEP</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Administrador) || User.IsInRole(SD.Role_Empregado))
                                    {
                                        <input asp-for="PedidoHeader.CodigoPostal" type="text" class="form-control" />
                                        <span asp-validation-for="PedidoHeader.CodigoPostal" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="PedidoHeader.CodigoPostal" readonly type="text" class="form-control readonly-field" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">E-mail</div>
                                <div class="col-9">
                                    <input value="@Model.PedidoHeader.ApplicationUser.Email" readonly type="text" class="form-control readonly-field" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Data de encomenda</div>
                                <div class="col-9">
                                    <input value="@Model.PedidoHeader.DataPedido.ToShortDateString()" readonly type="text" class="form-control readonly-field" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Transportadora</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Administrador) || User.IsInRole(SD.Role_Empregado))
                                    {
                                        <input asp-for="PedidoHeader.Transportadora" type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="PedidoHeader.Transportadora" readonly type="text" class="form-control readonly-field" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Número de Rastreamento</div>
                                <div class="col-9">
                                    @if (User.IsInRole(SD.Role_Administrador) || User.IsInRole(SD.Role_Empregado))
                                    {
                                        <input asp-for="PedidoHeader.NumeroRastreio" type="text" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="PedidoHeader.NumeroRastreio" readonly type="text" class="form-control readonly-field" />
                                    }
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Data de envio</div>
                                <div class="col-9">
                                    <input value="@Model.PedidoHeader.DataEnvio.ToShortDateString()" readonly type="text" class="form-control readonly-field" />
                                </div>
                            </div>
                            @if (User.IsInRole(SD.Role_Administrador) || User.IsInRole(SD.Role_Empregado))
                            {
                                <div class="row my-1">
                                    <div class="col-3">Session ID</div>
                                    <div class="col-9">
                                        <input asp-for="PedidoHeader.SessionId" readonly type="text" class="form-control readonly-field" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Payment Intent ID</div>
                                    <div class="col-9">
                                        <input asp-for="PedidoHeader.PaymentIntentId" readonly type="text" class="form-control readonly-field" />
                                    </div>
                                </div>
                            }
                            <div class="row my-1">
                                @if (Model.PedidoHeader.SessionId == null)
                                {
                                    <div class="col-3">Data Limite de Pagamento</div>
                                    <div class="col-9">
                                        <input value="@Model.PedidoHeader.DataVencimentoPagamento.ToShortDateString()" readonly type="text" class="form-control readonly-field" />
                                    </div>
                                }
                                else
                                {
                                    <div class="col-3">Data de Pagamento</div>
                                    <div class="col-9">
                                        <input value="@Model.PedidoHeader.DataVencimentoPagamento.ToShortDateString()" readonly type="text" class="form-control readonly-field" />
                                    </div>
                                }
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Status do Pagamento</div>
                                <div class="col-9">
                                    <input asp-for="PedidoHeader.StatusPagamento" readonly type="text" class="form-control readonly-field" />
                                </div>
                            </div>
                            @if (User.IsInRole(SD.Role_Administrador) || User.IsInRole(SD.Role_Empregado))
                            {
                                <button type="submit" asp-action="AtualizaDetalhesPedido" class="btn btn-warning form-control my-1">Atualizar detalhes</button>
                            }
                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-primary">Resumo da encomenda</span>
                            </h4>
                            <label class="btn btn-outline-primary form-control my-2">Status - @Model.PedidoHeader.StatusPedido</label>

                            <ul class="list-group mb-3">
                                @foreach (var item in Model.PedidoDetalhe)
                                {
                                    <li class="list-group-item p-2">
                                        <div class="row">
                                            <div class="col-8">

                                                <h6 class="my-0 text-primary">@item.Bicicleta.Nome</h6>
                                                <small class="text-muted">Preço: @item.Bicicleta.ValorComDesconto.ToString("c")</small><br />
                                                <small class="text-muted">Unidade (s): @item.Quantidade</small>
                                            </div>
                                            <div class="col-4 text-end">
                                                <p class="text-success">@((item.Quantidade * item.Bicicleta.ValorComDesconto).ToString("c"))</p>
                                            </div>
                                        </div>
                                    </li>
                                }


                                <li class="list-group-item bg-primary">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5 class="text-white">TOTAL </h5>
                                        </div>
                                        <div class="col-6 text-end">
                                            <h5 class="text-white fw-semibold">@Model.PedidoHeader.TotalPedido.ToString("c")</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            @if (Model.PedidoHeader.StatusPagamento == SD.PaymentStatusDelayedPayment &&
                            Model.PedidoHeader.StatusPedido == SD.StatusShipped)
                            {
                                <button type="submit" asp-action="Detalhes" class="btn btn-success form-control my-1">Pagar agora</button>
                            }
                            @if (User.IsInRole(SD.Role_Administrador) || User.IsInRole(SD.Role_Empregado))
                            {
                                @if (Model.PedidoHeader.StatusPedido == SD.StatusApproved)
                                {
                                    <button asp-action="ProcessarPedido" type="submit" class="btn btn-primary form-control my-1">Processar pedido</button>
                                }
                                @if (Model.PedidoHeader.StatusPedido == SD.StatusInProcess)
                                {
                                    <button asp-action="EnviarPedido" onclick="return validateInput()" type="submit" class="btn btn-primary form-control my-1">Enviar pedido</button>
                                }
                                @if (Model.PedidoHeader.StatusPedido != SD.StatusShipped &&
                                    Model.PedidoHeader.StatusPedido != SD.StatusCancelled &&
                                    Model.PedidoHeader.StatusPedido != SD.StatusRefunded)
                                {
                                    <button asp-action="CancelarPedido" type="submit" class="btn btn-danger form-control my-1">Cancelar pedido</button>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<style>
    .readonly-field {
        background-color: #f2f2f2; /* Cor de fundo cinza para indicar somente leitura */
        color: #555; /* Cor do texto para melhor legibilidade */
        cursor: not-allowed; /* Altera o cursor para indicar que o campo é somente leitura */
    }
</style>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        function validateInput() {
            if (document.getElementById("PedidoHeader_Transportadora").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Erro!',
                    text: 'Insira um valor válido de transportadora!',
                });
                return false;
            }
            if (document.getElementById("PedidoHeader_NumeroRastreio").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Erro!',
                    text: 'Insira um valor válido de rastreamento!',
                });
                return false;
            }
            return true;
        }
    </script>
}