@model BicicletaVm
<div class="container">
    <div class="card shadow border-0 my-4">
        <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">@(Model.Bicicleta.Id != 0 ? "Atualizar" : "Criar") bicicleta</h2>
                </div>
            </div>
        </div>
        <div class="card-body py-4">
            <form method="post" class="row" enctype="multipart/form-data">
                <input asp-for="Bicicleta.Id" hidden />
                <input asp-for="Bicicleta.Tamanhos" hidden />
                <input asp-for="Bicicleta.Cores" hidden />
                <input asp-for="Bicicleta.CriadoEm" hidden />
                <div class="row">
                    <div class="col-sm-12 col-md-10">
                        <div class="border p-3">
                            <div class="row">
                                <div class="form-group py-2 col-sm-12 col-md-8">
                                    <label asp-for="Bicicleta.Nome" type="text" class="mb-1">Nome: <span class="required-mark">*</span></label>
                                    <input asp-for="Bicicleta.Nome" class="form-control" />
                                    <span asp-validation-for="Bicicleta.Nome" class="text-danger"></span>
                                </div>
                                <div class="form-group py-2 col-sm-12  col-md-4">
                                    <label asp-for="Bicicleta.MarcaId" type="text" class="mb-1">Marca: <span class="required-mark">*</span></label>
                                    <select asp-for="@Model.Bicicleta.MarcaId" asp-items="@Model.MarcaList" class="form-select">
                                        <option disabled selected>Selecione a marca...</option>
                                    </select>
                                    <span asp-validation-for="Bicicleta.MarcaId" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="form-group py-2 col-12">
                                <label asp-for="Bicicleta.Descricao" type="text" class="mb-1">Descrição: <span class="required-mark">*</span></label>
                                <textarea asp-for="Bicicleta.Descricao" class="form-control"></textarea>
                            </div>
                            
                            @* <div class="form-group py-2 col-12">
                                <label asp-for="Bicicleta.Especificoes" type="text">Especificações</label>
                                <textarea asp-for="Bicicleta.Especificoes" class="form-control"></textarea>
                            </div> 
                            <div class="form-group">
                                <label asp-for="Bicicleta.Componentes" class="control-label"></label>


                                <!-- Exemplo de campos para componentes na bicicleta -->
                                <div id="componentes-container">
                                    @for(int i=0; i < Model.Bicicleta.Componentes.Count;i++)
                                    {
                                        <div class="componente row">
                                        <select asp-for="Bicicleta.Componentes[i].TipoComponenteId" asp-items="@Model.ComponentesList" class="form-select col-2" style="width: 30%" id="componente-select">
                                        </select>
                                        <input asp-for="Bicicleta.Componentes[i].Valor" class="form-control  col-10" placeholder="Valor" style="width: 70%"  />
                                        </div>
                                    }

                                </div>

                                <button type="button" onclick="adicionarComponente(@Model.Bicicleta.Componentes.Count)">Adicionar Componente</button>
                            </div>*@

                            <div class="form-group py-2 col-12">
                                <label asp-for="Bicicleta.Componentes" type="text" class="mb-1">Componentes: <span class="required-mark">*</span></label>
                                <div class="form-control col-md-12 p-0 m-0 bg-light">
                                    <table id="CompTable" class="table table-md mb-0">
                                        <thead>
                                            <tr>
                                                <th style="width: 20%">Tipo</th>
                                                <th style="width: 62%">Descrição</th>
                                                <th style="width: 13%">
                                                    <button id="btnAddComponent" type="button" class="btn btn-md btn-outline-primary visible" style="float: right; width: 100%"
                                                        onclick="AddItem(this)">
                                                        <span class="text-md-center"><i class="bi bi-plus-circle"></i> Adicionar</span>
                                                    </button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Bicicleta.Componentes != null && Model.Bicicleta.Componentes.Count > 0)
                                            {
                                                for (int i = 0; i < Model.Bicicleta.Componentes.Count; i++)
                                                {
                                                    <tr>
                                                        <td>
                                                            <select asp-for="Bicicleta.Componentes[i].TipoComponenteId" asp-items="@Model.ComponentesList" class="form-select col-2" id="componente-select">
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input asp-for="Bicicleta.Componentes[i].Valor" class="form-control" placeholder="[Adicione uma descrição]" />

                                                            <span asp-validation-for="Bicicleta.Componentes[i].Valor" class=" text-danger"></span>
                                                        </td>
                                                        <td>
                                                            <button id="btnremove-@i" type="button" class="btn btn-md btn-outline-danger visible" style="float: right; width: 100%"
                                                                    onclick="DeleteItem(this)">
                                                                <span class="text-md-center"><i class="bi bi-trash-fill"></i> Excluir</span>

                                                            </button>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            

                            <div class="row">
                                <div class="form-group py-2 col-sm-6 col-md-3">
                                    <label asp-for="Bicicleta.Preco" type="text" class="mb-1">Preço (R$): <span class="required-mark">*</span></label>
                                    <input asp-for="Bicicleta.Preco" class="form-control" />
                                    <span asp-validation-for="Bicicleta.Preco" class="text-danger"></span>
                                </div>
                                <div class="form-group py-2 col-sm-6 col-md-3">
                                    <label asp-for="Bicicleta.Estoque" type="text" class="mb-1">Estoque (Unidades): <span class="required-mark">*</span></label>
                                    <input asp-for="Bicicleta.Estoque" class="form-control" />
                                    <span asp-validation-for="Bicicleta.Estoque" class="text-danger"></span>
                                </div>
                                <div class="form-group py-2 col-sm-6 col-md-3">
                                    <label asp-for="Bicicleta.Peso" class="mb-1">Peso (kg): <span class="required-mark">*</span></label>
                                    <input asp-for="Bicicleta.Peso" class="form-control" />
                                    <span asp-validation-for="Bicicleta.Peso" class="text-danger"></span>
                                </div>
                                <div class="form-group py-2 col-sm-6 col-md-3">
                                    <label asp-for="Bicicleta.DescontoPromocao" class="mb-1">Desconto em Promoção (%): <span class="required-mark">*</span></label>
                                    <input asp-for="Bicicleta.DescontoPromocao" type="number" class="form-control" />
                                    <span asp-validation-for="Bicicleta.DescontoPromocao" class="text-danger"></span>
                                </div>
                                
                            </div>
                            
                            <div class="row">
                                <div class="py-2 col-sm-12 col-md-6">
                                    <label asp-for="@Model.CoresListSplit" type="text" class="mb-1">Cores: <span class="required-mark">*</span></label>
                                    <select asp-for="@Model.CoresListSplit" asp-items="@Model.CoresListEnum" class="form-select" multiple id="cores-select">
                                        @* <option disabled selected>Select Tamanhos</option> *@
                                    </select>
                                    <span asp-validation-for="@Model.CoresListSplit" class="text-danger"></span>
                                </div>

                                <div class="py-2 col-sm-12 col-md-6">
                                    <label asp-for="@Model.TamanhosListSplit" type="text" class="mb-1">Tamanhos: <span class="required-mark">*</span></label>
                                    <select asp-for="@Model.TamanhosListSplit" asp-items="@Model.TamanhosListEnum" class="form-select" multiple id="tamanhos-select">
                                        @* <option disabled selected>Select Tamanhos</option> *@
                                    </select>
                                    <span asp-validation-for="@Model.TamanhosListSplit" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="form-group py-2 col-8">
                                    <label asp-for="Bicicleta.CategoriaId" type="text" class="mb-1">Categoria: <span class="required-mark">*</span></label>
                                    <select asp-for="@Model.Bicicleta.CategoriaId" asp-items="@Model.CategoriaList" class="form-select">
                                        <option disabled selected>Selecione a Categoria</option>
                                    </select>
                                    <span asp-validation-for="Bicicleta.CategoriaId" class="text-danger"></span>
                                </div>
                                
                            </div>
                            
                            <div class="form-group py-2 col-12">
                                <label asp-for="Bicicleta.ImagensProduto" class="mb-1">Imagens do Produto</label>
                                <input type="file" name="files" class="form-control" multiple />
                            </div>
                            <div class="row pt-2">
                                <div class="col-6 col-md-3">
                                    @if (Model.Bicicleta.Id != 0)
                                    {
                                        <button type="submit" class="btn btn-primary form-control">Atualizar</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary form-control">Criar</button>
                                    }

                                </div>
                                <div class="col-6 col-md-3">
                                    <a asp-controller="Bicicleta" asp-action="Index" class="btn btn-outline-primary border form-control">
                                        Voltar à listagem
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <span style="font-weight:600; text-align: center; width: 100% !important; display: block;">IMAGENS</span>
                        @if (Model.Bicicleta.ImagensProduto != null)
                        {
                            foreach (var image in Model.Bicicleta.ImagensProduto)
                            {
                                <div class="border p-1 m-2 text-center">
                                    <img src="@image.ImagemUrl" width="100%"
                                         style="border-radius:5px; border:1px solid #bbb9b9" />
                                    <a asp-action="DeleteImage" class="btn btn-danger mt-1" asp-route-imageId="@image.Id">
                                        <i class="bi bi-trash-fill"></i> Excluir
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


<style>
    table td {
        max-width: 120px;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-all;
        overflow: hidden;
    }
</style>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#tamanhos-select").select2({
                placeholder: 'Selecione uma ou mais opções',
                allowClear: true,
                width: '100%'
            });
            $("#cores-select").select2({
                placeholder: 'Selecione uma ou mais opções',
                allowClear: true,
                width: '100%'
            });
        });
        tinymce.init({
            selector: 'textarea',
            max_height: 500,
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        })

        function AddItem(btn) {
            var table = document.getElementById('CompTable');
            var row = table.getElementsByTagName('tr');

            var lastRowIdx = row.length - 1;
            console.log(lastRowIdx);

            if (lastRowIdx == 0) {
                console.log("tESTE");
                var newRowEmp = table.insertRow();
            }
            var rowOuterHtml = row[lastRowIdx].outerHTML;

            lastRowIdx = lastRowIdx - 1;

            var nextRowIdx = eval(lastRowIdx) + 1;

            rowOuterHtml = rowOuterHtml.replaceAll('_' + lastRowIdx + '_', '_' + nextRowIdx + '_');
            rowOuterHtml = rowOuterHtml.replaceAll('[' + lastRowIdx + ']', '[' + nextRowIdx + ']');
            rowOuterHtml = rowOuterHtml.replaceAll('-' + lastRowIdx, '-' + nextRowIdx);

            var newRow = table.insertRow();
            newRow.innerHTML = rowOuterHtml;
        }

        function DeleteItem(index) {
            var table = document.getElementById('CompTable');
            var rows = table.querySelectorAll('tbody tr');

            var row = document.getElementById(index.id).parentElement.parentElement;
            if (rows.length > 1) {
                row.remove();
            }
            else {
                swal.fire("Remoção inválida!",'O produto deve conter pelo menos um componente cadastrado.','error');
            }
        }
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
