@model List<Marca>

<div class="container">
    <div class="card shadow border-0 my-4">
        <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Lista de Marcas</h2>
                </div>
            </div>
        </div>
        <div class="card-body py-4">
            <div class="row pb-3">
                <div class="col-12 text-end">
                    <a asp-controller="Marca" asp-action="Upsert" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i> Criar marca
                    </a>
                </div>

            </div>
            <table id="tblData" class="table table-bordered table-striped" style="width: 100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>País de Origem</th>
                        <th>Site Oficial</th>
                        <th class="text-center">Data de Criação</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @* @foreach (var obj in Model /*.OrderBy(o => o.DisplayOrder)*/)
                    {
                        <tr>
                            <td>@obj.Nome</td>
                            <td>@obj.PaisOrigem</td>
                            <td>@obj.SiteOficial</td>
                            <td class="text-center">@obj.CriadoEm</td>
                            <td class="d-flex justify-content-center">
                                <div class="text-center" role="group">
                                    <a asp-controller="Marca" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                        <i class="bi bi-pencil-square"></i> Editar
                                    </a>
                                    <a asp-controller="Marca" asp-action="Excluir" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                        <i class="bi bi-trash-fill"></i> Excluir
                                    </a>
                                </div>
                            </td>
                        </tr>
                    } *@

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/marca.js"></script>
}