@model CarrinhoComprasVm

<div class="container">
    <form method="post">
        <br />
        <div class="card border my-4">
            <div class="card-header m-lg-0 pt-3 bg-primary bg-gradient">
                <div class="row px-4">
                    <div class="col-12">
                        <h2 class="pt-2 text-white"><i class="bi bi-cart-fill"></i> Meu Carrinho de Compras</h2>
                    </div>
                </div>
            </div>
            <div class="my-4">
                @if (Model.CarrinhoComprasList.Count() > 0)
                {
                    <div class="row mb-3 pb-3">
                        <div class="col-md-2 mx-4">
                            <a asp-area="Cliente" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary text-uppercase mb-5 btn-sm">
                                <span style="text-wrap: nowrap"><i class="bi bi-arrow-left-circle"></i> Continuar comprando</span>
                            </a>
                        </div>
                        <div class="col-md-12 px-4">

                            @foreach (var item in Model.CarrinhoComprasList)
                            {
                                <div class="row border-bottom pb-3">
                                    <div class="d-none d-lg-block col-lg-1 text-center py-2">
                                        @* <img src="@item.Product.ProductImages" class="rounded" width="100%" /> *@
                                        @if (item.Bicicleta.ImagensProduto != null && item.Bicicleta.ImagensProduto.Count() > 0)
                                        {
                                            <img src="@item.Bicicleta.ImagensProduto.FirstOrDefault().ImagemUrl" class="card-img-top rounded" />
                                        }
                                        else
                                        {
                                            <img src="@("https://source.unsplash.com/random/500x600?sig=" + item.Bicicleta.Id)" class="card-img-top rounded w-100" />
                                        }
                                    </div>
                                    <div class="col-12 col-lg-6 pt-md-3">
                                        <h5 class="text-uppercase text-secondary"><strong>@item.Bicicleta.Nome</strong></h5>
                                        <p><small>@Html.Raw(item.Bicicleta.Descricao)</small></p>
                                    </div>
                                    <div class="col-12  col-lg-5 text-center row">
                                        <div class="col-3 text-md-right pt-2 pt-md-4">
                                            <h6 class="fw-semibold">
                                                @item.Preco.ToString("c")
                                                <span class="text-muted">&nbsp;x&nbsp;</span>@item.Quantidade
                                            </h6>
                                            <span class="btn btn-primary"> -@item.Bicicleta.DescontoPromocao%</span>
                                        </div>
                                        <div class="col-6 col-sm-4 col-lg-6 pt-2">
                                            <div class="w-75 btn-group" role="group">
                                                <a asp-action="Mais" asp-route-cartId="@item.Id" title="Adicionar unidade" class="btn btn-outline-primary bg-gradient py-2">
                                                    <i class="bi bi-plus-square"></i>
                                                </a> &nbsp;
                                                <a asp-action="Menos" asp-route-cartId="@item.Id" title="Retirar unidade" class="btn btn-outline-danger bg-gradient py-2">
                                                    <i class="bi bi-dash-square"></i>
                                                </a>
                                            </div>

                                        </div>
                                        <div class="col-3 col-sm-4 col-lg-2 offset-lg-1 text-right pt-2">
                                            <a asp-action="Remove" asp-route-cartId="@item.Id" class="btn btn-danger bg-gradient py-2 ">
                                                <i class="bi bi-trash-fill"> Remover</i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            }
                        </div>
                    </div>
                    <div class="card-footer bg-white border-0">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <ul class="list-group mb-4">
                                    <li class="d-flex justify-content-between align-items-center">
                                        @{
                                            decimal somaSemDesc = 0;
                                            foreach (var item in Model.CarrinhoComprasList)
                                            {
                                                somaSemDesc += (item.Bicicleta.Preco * item.Quantidade);
                                            }
                                            <h5>TOTAL SEM DESCONTO:</h5> <h4>@somaSemDesc.ToString("c")</h4>
                                        }
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <h5>FRETE:</h5><span class="text-muted fs-5"><span style="text-decoration:line-through">@((Model.PedidoHeader.TotalPedido * 0.015m).ToString("c"))</span> <span class="fw-semibold">@((0).ToString("c"))*</span></span>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center">
                                        <h5>TOTAL:</h5><h3 class="text-success fw-bolder">@Model.PedidoHeader.TotalPedido.ToString("c")</h3>
                                    </li>
                                    
                                    <li class="d-flex justify-content-end">
                                        <br />
                                        <span class="text-secondary">Você economiza um total de <strong>@((somaSemDesc - Model.PedidoHeader.TotalPedido - Model.PedidoHeader.TotalPedido * 0.015m).ToString("c"))</strong>!</span>
                                        
                                    </li>
                                    <li class="d-flex justify-content-end" style="font-size:small; font-style:italic;">
                                        <span class="text-muted text-small">*Oferta de inauguração: Frete grátis para todo o Brasil!</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 offset-md-4">
                                <a asp-action="Resumo" class="btn btn-success border-0 bg-gradient w-100 py-2">FINALIZAR PEDIDO!</a>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="text-center">
                            <h5 class="text-dark fw-semibold text-uppercase">SEU CARRINHO ESTÁ VAZIO :(</h5>
                        </div>
                    </div>
                }

            </div>

        </div>
    </form>
</div>
