@model CarrinhoComprasVm

<form id="formResumo" method="post">
	<br />
	<div class="container">
		<div class="card border my-4">

			<div class="card-header bg-primary bg-gradient ml-0 pt-3">
				<div class="row px-4">
					<div class="col-12">
						<h2 class="pt-2 text-white">
							<i class="bi bi-cart-fill"></i> Meu Carrinho de Compras
						</h2>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="p-2">
					<div class="row">
						<div class="col-12 col-lg-6 pb-4">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-dark">Detalhes de envio:</span>
								</h4>
							</div>
							<div class="row my-1">
								<div class="col-6">
									<label class="mb-1" asp-for="PedidoHeader.Nome">Nome</label>
									<input asp-for="PedidoHeader.Nome" readonly class="form-control" />
									<span asp-validation-for="PedidoHeader.Nome" class="text-danger"></span>
								</div>
								<div class="col-6">
									<label class="mb-1" asp-for="PedidoHeader.Telefone">Telefone:</label>
									<input asp-for="PedidoHeader.Telefone" id="phoneInput" class="form-control" />
									<span asp-validation-for="PedidoHeader.Telefone" class="text-danger"></span>
								</div>
							</div>
							<div class="row mt-3">
								<div class="col-6">
									<label class="mb-1" asp-for="PedidoHeader.CodigoPostal">Codigo Postal:</label>
									<input asp-for="PedidoHeader.CodigoPostal" id="cepInput" class="form-control" />
									<span asp-validation-for="PedidoHeader.CodigoPostal" class="text-danger"></span>
								</div>
								<div class="col-6">
									<label class="mb-1" asp-for="PedidoHeader.Cidade">Cidade:</label>
									<input asp-for="PedidoHeader.Cidade" class="form-control" />
									<span asp-validation-for="PedidoHeader.Cidade" class="text-danger"></span>
								</div>
							</div>
							<div class="row mt-3">
								<div class="col-6">
									<label class="mb-1" asp-for="PedidoHeader.Endereco">Endereço:</label>
									<input asp-for="PedidoHeader.Endereco" class="form-control" />
									<span asp-validation-for="PedidoHeader.Endereco" class="text-danger"></span>
								</div>
								<div class="col-6">
									<label class="mb-1" asp-for="PedidoHeader.Estado">Estado:</label>
									<input asp-for="PedidoHeader.Estado" class="form-control" />
									<span asp-validation-for="PedidoHeader.Estado" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-5 offset-lg-1">
							<h4 class="d-flex justify-content-between align-items-center mb-3">
								<span class="text-primary">Resumo do pedido:</span>
							</h4>
							<ul class="list-group mb-3">
								@foreach (var item in Model.CarrinhoComprasList)
								{
									<li class="list-group-item d-flex justify-content-between">
										<div>
											<h6 class="my-0">@item.Bicicleta.Nome</h6>
											<small class="text-muted">Unidade(s): @item.Quantidade</small>
										</div>
										<span class="text-muted">@((item.Preco * item.Quantidade).ToString("c")) </span>
									</li>
								}

								<li class="list-group-item d-flex justify-content-between bg-light">
									<small class="text-primary">TOTAL DO PEDIDO</small>
									<strong class="text-primary">@Model.PedidoHeader.TotalPedido.ToString("c")</strong>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-12 col-md-8 pt-2">
						<p class="fs-6" style="color:maroon;">
							<strong>Data de entrega estimada:</strong>
							@DateTime.Now.AddDays(7).ToShortDateString() - @DateTime.Now.AddDays(14).ToShortDateString()
							<br />
							<strong>Observação:</strong> Pagamentos via boleto e PIX estão desabilitadas por se tratar de transações fictícias.
						</p>
					</div>
					<div class="col-12 col-md-4">
						<button id="submitBtn" type="submit" value="" class="btn btn-success form-control"><i class="bi bi-check-lg"></i> Confirmar pedido</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>

		$('#phoneInput').inputmask({
			mask: ['99 99999-9999'],
			greedy: false,
			removeMaskOnSubmit: true
		});

		$('#cepInput').inputmask({
			mask: ['99999-999'],
			greedy: false,
			removeMaskOnSubmit: true
		});

		$(document).ready(function () {
			$('form').submit(function (event) {
				if (!$('#phoneInput').inputmask('isComplete')) {
					swal.fire("Dados inválidos!", "Verifique o preenchimento do campo de telefone!", "error");
					event.preventDefault();
					return false;
				}

				if (!$('#cepInput').inputmask('isComplete')) {
					swal.fire("Dados inválidos!", "Verifique o preenchimento do campo de CEP!", "error");
					event.preventDefault();
					return false;
				}

				confirm("ATENÇÃO! A tela seguinte exigirá dados de cartão de crédito para simular o processamento de pagamento. Embora não exista uma cobrança real, favor NÃO INFORMAR seus dados pessoais! Utilize números aleatórios como '424242...'. Clique em OK para confirmar seu entendimento.");

			});
		});
	</script>
}