@model IEnumerable<Bicicleta>
@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->
 <section id="hero" style="height:650px">
    <div id="heroCarousel" data-bs-interval="50000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(images/slide/slide_3.jpg); background-position: top;">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">Nova Spark RC World Cup Evo disponível!</h2>
                        <p class="animate__animated animate__fadeInUp">Desafiando os limites da imaginação, a nova Scott Spark RC, inspirada na copa do mundo de ciclismo, chegou para elevar os quesitos de qualidade e performance. Leveza, rigidez, suavidade, segurança, potência e performance. Quer saber mais? </p>
                        <a asp-action="Detalhes" asp-route-bikeId="8" class="btn-get-started btn-success animate__animated animate__fadeInUp scrollto">Veja os detalhes</a>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url(images/slide/slide_4.png); background-position: top; background-position-y: 25%;">
                <div class="carousel-container">
                    <div class="container">
                        @* <h2 class="animate__animated animate__fadeInDown">Para todos os gostos</h2>
                        <p class="animate__animated animate__fadeInUp">De bicicletas clássicas até as mais modernas Mountain Bikes lançadas. Escolha a sua agora!</p>@* 
                        <a  href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a> *@
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url(images/slide/slide_1.jpeg); background-position: top; background-position-y: 25%; ">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">Para todos os gostos</h2>
                        <p class="animate__animated animate__fadeInUp">De bicicletas clássicas até as mais modernas Mountain Bikes lançadas. Escolha a sua agora!</p>@* 
                        <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a> *@
                    </div>
                </div>
            </div>

            <!-- Slide 3 -->
            @* <div class="carousel-item " style="background-image: url(images/slide/slide_2.png); background-position: top; background-position-y: 20%">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">LiddellRoch</h2>
                        <p class="animate__animated animate__fadeInUp">Sua próxima conquista começa com uma escolha certa.</p>
                    </div>
                </div>
            </div> *@

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section><!-- End Hero -->

<div class="row pb-3 container" style="margin: 0 auto;">
    @foreach (var product in Model)
    {
        <div class="col-lg-4 col-md-6 col-xl-3">
            <div class="row p-2 h-100">
                <div class="col-12 p-1">
                    <div class="bikeDiv card border-0 p-3 shadow  border-top border-5 rounded" style="height:100%">
                        @if (product.ImagensProduto != null && product.ImagensProduto.Count() > 0)
                        {
                            @if(product.Estoque < 10)
                            {
                                <span class="bikeBadge badge bg-danger"><i class="bi bi-fire" style="color:orange"></i> @product.Estoque RESTANTES!</span>
                            }
                            <img alt="bike-@product.Id" src="@product.ImagensProduto.FirstOrDefault().ImagemUrl" class="bikeImg card-img-top rounded" style="height: 100%; object-fit: contain; margin:  0 auto; max-width: fit-content;" />
                            
                           }
                        else
                        {
                            <img src="@("https://source.unsplash.com/random/500x600?sig=" + product.Id)" class="card-img-top rounded" />
                        }

                        <div class="card-body pb-0 pt-3">
                            <div class="pl-1">@* 
                                <p class="card-title text-warning text-center"><b></b></p> *@
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center" style="height: 2.5rem;">
                                    <span>
                                        @product.Marca.Nome @product.Nome
                                    </span>
                                </p>
                            </div>
                            <hr>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-1">
                                    De: 
                                    <span style="text-decoration: line-through;">
                                        @((product.Preco*1.2m).ToString("c"))
                                    </span>
                                </p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-3">
                                    Por:
                                    <span class="text-dark" style="font-weight:bold; font-size:large">
                                        @((product.Preco*1.1m).ToString("c"))
                                    </span>
                                    <br><span style="font-size:small">em 12 vezes sem juros</span>
                                    <br>
                                    ou
                                    <br>
                                    <span class="text-success" style="font-weight:bolder; font-size:x-large">
                                        @product.Preco.ToString("c")
                                    </span>
                                    <br>(PIX ou boleto)
                                </p>
                            </div>
                            
                        </div>
                        <div>
                            @* productId DEVE ter o mesmo nome na assinatura do método Details *@
                            <a asp-action="Detalhes"
                               asp-route-bikeId="@product.Id"
                               class="btn btn-success bg-gradient border-0 form-control">
                                <i class="bi bi-cart-plus-fill"></i> &nbsp;COMPRAR
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<style>
    span.badge {
       /*  width: 50%;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center; */
    }

    .bikeDiv {
        /* position: relative;
        padding-top: 20px;
        display: inline-block; */
    }

    .bikeBadge {
        position: absolute;
        left: 30px;
        top: 25px;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        width:40%;
    }
</style>
@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@