@model IEnumerable<Bicicleta>
@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->
 <section id="hero" style="height:700px">
    <div id="heroCarousel" data-bs-interval="50000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(assets/img/slide/slide_3.jpg)">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">Nova Spark RC World Cup Evo disponível!</h2>
                        <p class="animate__animated animate__fadeInUp">Desafiando os limites da imaginação, a nova Scott Spark RC, inspirada na copa do mundo de ciclismo, chegou para elevar os quesitos de qualidade e performance. Leveza, rigidez, suavidade, segurança, potência e performance. Quer saber mais? </p>
                        <a asp-action="Detalhes" asp-route-bikeId="8" class="btn-get-started animate__animated animate__fadeInUp scrollto">Veja os detalhes</a>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url(assets/img/slide/slide_1.jpeg)">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">Para todos os gostos</h2>
                        <p class="animate__animated animate__fadeInUp">De bicicletas clássicas até as mais modernas Mountain Bikes lançadas. Escolha a sua agora!</p>@* 
                        <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a> *@
                    </div>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item " style="background-image: url(assets/img/slide/slide_2.png)">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">LiddellRoch</h2>
                        <p class="animate__animated animate__fadeInUp">Sua próxima conquista começa com uma escolha certa.</p>
                    </div>
                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section><!-- End Hero -->

<div class="row pb-3">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2 h-100">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow  border-top border-5 rounded" style="height:100%">
                        @if (product.ImagensProduto != null && product.ImagensProduto.Count() > 0)
                        {
                            <img src="@product.ImagensProduto.FirstOrDefault().ImagemUrl" class="card-img-top rounded" />
                        }
                        else
                        {
                            <img src="@("https://source.unsplash.com/random/500x600?sig=" + product.Id)" class="card-img-top rounded" />
                        }

                        <div class="card-body pb-0">
                            <div class="pl-1">@* 
                                <p class="card-title text-warning text-center"><b></b></p> *@
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Marca.Nome @product.Nome</p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    <span style="font-weight:bolder; font-size:larger">
                                        @product.Preco.ToString("c")
                                    </span>
                                </p>
                            </div>@* 
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center">
                                    Preço no PIX:
                                    <span>
                                        @product.Price100.ToString("c")
                                    </span>
                                </p>
                            </div> *@
                        </div>
                        <div>
                            @* productId DEVE ter o mesmo nome na assinatura do método Details *@
                            <a asp-action="Detalhes"
                               asp-route-bikeId="@product.Id"
                               class="btn btn-primary bg-gradient border-0 form-control">
                                Detalhes
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@