@page
@using LiddellRoch.Models;

@using LiddellRoch.Application.Services.Interfaces
@inject IAvaliacaoService AvaliacaoService

@model IndexModel
@{
    ViewData["Title"] = "Alterar dados do perfil";
    ViewData["ActivePage"] = ManageNavPages.Index;
    var appUser = TempData["User"] as ApplicationUser;
    var userPedidos = TempData["UserPedidos"] as List<PedidoHeader>;
}
<div class="d-md-flex half">
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="container">
            <div class="row mt-4 justify-content-center">
                <div class="row mb-3 card">
                    <div class="col-md-12">
                    <div class="form-block mx-auto w-100" style="display: inline-flex; align-items: center;justify-content: space-between">
                        @* justify-content-center align-content-center*@
                            <div style="display:inline-flex">
                                <i class="bi bi-person-circle" style="font-size: 3rem;"></i>
                                <div style="margin-left:10px;align-self: center;">
                                    <span>Bem-vindo, @appUser.Nome!</span>
                                    <br />
                                    <p class="text-muted mb-0">@appUser.Email</p>
                                </div>
                            </div>
                            
                            <div style="text-align:end">
                                <span>Confirmação de E-mail: 
                                    @if(appUser.EmailConfirmed)
                                    {
                                        <i class="bi bi-check-circle-fill text-success"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-x-circle-fill text-danger"></i>
                                    }
                                    <br />
                                </span>
                                <span>
                                    Confirmação de Telefone:
                                    @if (appUser.PhoneNumberConfirmed)
                                    {
                                        <i class="bi bi-check-circle-fill text-success"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-x-circle-fill text-danger"></i>
                                    }
                                    <br />
                                </span>
                            </div>

                            
                        </div>
                       
                    </div>
                </div>
                <div class="row p-0 mb-5">
                    <div class="col-md-6" style="">
                        <div class="form-block" style="margin-right: 0;margin-left: auto;">
                            <div class="text-center mb-3">
                                <h3 class="text-uppercase">Alterar dados do perfil</h3>
                            </div>

                            
                            <div class="row">
                                <div class="col-md-12">
                                    <form id="profile-form" method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                        <div class="row">
                                            <div class="form-group mb-3 col-md-6">
                                                <label asp-for="Username" class="form-label">Usuário</label>
                                                <input asp-for="Username" class="form-control" style="background-color:#CCC; cursor: no-drop;" disabled />
                                            </div>
                                            <div class="form-group mb-3 col-md-6">
                                                <label asp-for="Input.Email" class="form-label">E-mail</label>
                                                <input asp-for="Input.Email" class="form-control" style="background-color:#CCC; cursor: no-drop;" disabled>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group mb-3 col-md-4">
                                                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                                                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Digite um telefone" />
                                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                            </div>
                                            <div class="form-group mb-3 col-md-8">
                                                <label asp-for="Input.Endereco" class="form-label">Endereço</label>
                                                <input asp-for="Input.Endereco" class="form-control" placeholder="Digite um endereço" />
                                                <span asp-validation-for="Input.Endereco" class="text-danger"></span>
                                            </div>
                                        </div>
                                    
                                        <div class="row">
                                            <div class="form-group mb-3 col-md-8">
                                                <label asp-for="Input.Cidade" class="form-label"></label>
                                                <input asp-for="Input.Cidade" class="form-control" placeholder="Digite uma cidade" />
                                                <span asp-validation-for="Input.Cidade" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-form-group mb-3 col-md-4">
                                                <label asp-for="Input.Estado" class="form-label"></label>
                                                <input asp-for="Input.Estado" class="form-control" placeholder="Digite um estado" />
                                                <span asp-validation-for="Input.Estado" class="text-danger"></span>
                                            </div>
                                        </div>
                                        
                                        <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Atualizar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="">
                    <div class="form-block" style="max-height: 30rem;">
                            <div class="text-center mb-5">
                                <h3 class="text-uppercase">PEDIDOS RECENTES</h3>
                            </div>
                        <div class="row" style="overflow: auto;max-height: 25rem;">
                                @if (userPedidos.Count > 0)
                                {
                                    @foreach(var pedido in userPedidos)
                                    {
                                    <div class="col-md-9 mb-2" style="border:1px #CCC solid">
                                            <span><strong>Data do Pedido:</strong> @pedido.DataPedido</span>
                                            <br>
                                            <span><strong>Valor Total:</strong> @pedido.TotalPedido.ToString("c")</span>
                                            <br>
                                            <span><strong>Status:</strong> @pedido.StatusPedido</span>
                                            <br>
                                            <span><strong>Endereço de Entrega:</strong> @pedido.Endereco</span>
                                            <br>
                                            <span><strong>Transportadora:</strong> @pedido.Transportadora</span>
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-primary w-100 mb-2">
                                            <a asp-area="Admin" asp-controller="Pedido" asp-action="Detalhes" asp-route-pedidoId="@pedido.Id" class="text-light"><i class="bi bi-eye-fill"></i>&nbsp;DETALHES</a>
                                            </button>
                                            @{
                                                var hasAvaliacao = AvaliacaoService.AvaliacaoExists(pedido.Id);
                                                if (!hasAvaliacao && pedido.StatusPedido == SD.StatusShipped)
                                                {
                                                <button class="btn btn-info w-100">
                                                    <a asp-area="Admin" asp-controller="Pedido" asp-action="AvaliarPedido" asp-route-pedidoId="@pedido.Id" class="text-light">
                                                        <i class="bi bi-star-half"></i>&nbsp;AVALIAR
                                                        </a>
                                                    </button>
                                                }
                                                else if(hasAvaliacao && pedido.StatusPedido == SD.StatusShipped)
                                                {
                                                    <button class="w-100" disabled asp-area="Admin" asp-controller="Pedido" asp-action="AvaliarPedido" asp-route-pedidoId="@pedido.Id" class="btn btn-outline-info">
                                                    <i class="bi bi-star-half"></i>&nbsp;JÁ AVALIADO!
                                                    </button>
                                                }
                                                else {
                                                }
                                        }
                                        </div>
                                    }
                                    
                                }
                                else
                                {
                                    <span class="text-center">Não existem pedidos registrados em sua conta... ainda. Que tal adicionar? 😅</span>
                                }
                                
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


<style>
    body {
        background-color: #fff;
    }

    p {
        color: #b3b3b3;
        font-weight: 300;
    }

    a {
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
    }

    a:hover {
        text-decoration: none !important;
    }

    .content {
        padding: 7rem 0;
    }

    h2 {
        font-size: 20px;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
